<head>
    <title>模板编辑</title>
    <style>
        [v-cloak]{
            display: none;
            visibility: hidden;
        }
    </style>
</head>
<body>
<div id="app" class="content" v-cloak>
    <el-form label-width="80px">
        <el-form-item label="模板名">
            <el-input v-model="name"></el-input>
        </el-form-item>
        <el-form-item label="备注">
            <el-input v-model="desc"></el-input>
        </el-form-item>
        <el-form-item label="模板内容">
            <code-online ref="codeonline" :source_code="source_code" :test_data="testData"></code-online>
        </el-form-item>
        <el-form-item>
            <el-button type="success" @click="editTemplate" style="margin: 10px">提交</el-button>
        </el-form-item>
    </el-form>
</div>


<script>
    function init(res){
        new Vue({
            el: "#app",
            data: {
                id:res.id,
                source_code:res.html,
                name:res.name,
                desc:res.desc,
                testData:res.testData
            },
            mounted: function () {
            },
            methods:{
                editTemplate(){
                    var that = this;
                    var html = this.$refs.codeonline.getHtmlData();
                    console.log(html);
                    var parms = {
                        id:this.id,
                        name:this.name,
                        html:html,
                        desc:this.desc
                    }
                    $.ajax({
                        url:"${ctxPath}/editTemplate",
                        type:"POST",
                        data:parms,
                        success:function (res){
                            alert(res.message);
                            if (res.status == 0){
                                that.goto("templateManage")
                            }
                        }
                    })
                },
                goto(page) {
                    var targetUrl = window.location.href.replace(window.location.href.split("#page/")[1], page);
                    console.log("goto:" + targetUrl);
                    window.location.href = targetUrl;
                }
            }
        })
    }

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.href.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    $.ajax({
        url:"${ctxPath}/getDemplateById",
        data:{
            id:getQueryString("id")
        },
        type:"POST",
        success:function (res){
            init(res.entity);
        }
    })
</script>

</body>
</html>
