<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pdf生成demo</title>
</head>
<body>

    <h1>标题:${data.title}</h1>
    ${data.users}
    <%
        for(item in data.users){
        if(item == '小红'){
            print("<h2 style='color:red'>"+item+"<h2>");
        }
    %>
    <h2>${item}</h2>
    <%
        }
    %>
    <p>
        模板的语法参考 <a href="http://ibeetl.com/">http://ibeetl.com/</a>
    </p>

    <img style="width:50px;height:50px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606812731984&di=e0f2e725374020ce72be3b687b347a3c&imgtype=0&src=http%3A%2F%2Fimg1.jqw.com%2F2012%2F09%2F14%2F582716%2Fproduct%2Fb201209142111446994.jpg">
    <img style="width:50px;height:50px;" src="/static/nosign.png">

    <table>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDDdsfadfadsfxvasfdasfasdfadsfadsfadsfadsfasdfasdf
        sdfadsfadsfadsfadsfasdf
        asdfadsfasdfadsfasdfasd
        asdfadsfadsf<br>
        </td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDD</td></tr>
        <tr><td>DDDD</td><td>DDDD</td><td>DDDDdsfadfadsfxvasfdasfasdfadsfadsfadsfadsfasdfasdf
            sdfadsfadsfadsfadsfasdf
            asdfadsfasdfadsfasdfasd
            asdfadsfadsf</td></tr>

    </table>

</body>
</html>
