<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>瑞金会诊报告</title>
    <style>
        #app{
            padding: 20px;
        }
        .title{
            font-weight: 900;
        }
        table{
            width: 100%;
        }
        td{
            padding: 3px 5px;
        }
        p{
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <div id="app">
        <img src="${ctxPath}/rjPDF.png" alt="">
        <h2 style="font-weight:500;text-align: center;" class="title">上海交通大学医学院附属瑞金医院远程医学中心</h2>
        <h2 style="font-weight:500;text-align: center;" class="title">专家会诊报告</h2>
        <div style="text-align: right;font-weight: bold;padding-bottom: 10px;">编号：${data.serialNmber}</div>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td class="title">申请医院：</td>
                <td colspan="2">${data.applyInstitutionName}</td>
                <td class="title">申请科室：</td>
                <td colspan="3">${data.applyInstitutionDepName}</td>
            </tr>
            <tr>
                <td class="title">会诊日期：</td>
                <td colspan="2">${data.consultationDate}</td>
                <td class="title">会诊专家：</td>
                <td colspan="3">${data.doctorName}</td>
            </tr>
            <tr>
                <td class="title">专家职称：</td>
                <td colspan="2">${data.docType}</td>
                <td class="title">会诊科室：</td>
                <td colspan="3">${data.ensureDepartment}</td>
            </tr>
            <tr>
                <td class="title">患者姓名：</td>
                <td>${data.patientName}</td>
                <td class="title">性别：</td>
                <td colspan="2">${data.patientSex}</td>
                <td class="title">年龄：</td>
                <td>${data.patientAge}</td>
            </tr>
            <tr>
                <td colspan="7" style="min-height: 300px">
                    <div style="margin: 0px;padding: 0px;min-height: 300px;">
                        <p class="title" >专家咨询诊断参考意见：</p>
                        <p>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            ${data.advice}
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <div style="margin: 0px;padding: 0px;min-height: 200px;">
                        <p class="title">专家咨询治疗建议：</p>
                        <p>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            ${data.suggest}
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="min-height: 200px">
                    <p class="title">会诊医师签字：</p>
                    <img style="height: 70px;" src="${data.signPic}" alt="">
                </td>
            </tr>
        </table>

        <p style="line-height: 30px">
            <span class="title">注：</span>远程诊疗是异地医疗咨询活动，会诊医师与申请会诊医师之间的关系属于医学知识的咨询关系，对病人的诊断与治
            疗的决定权属于收治病人的医疗机构（引自原卫生部卫办发<span class="title">[1999]</span>第<span class="title">2</span>号）。
        </p>
    </div>

</body>
</html>
